<!DOCTYPE html>
<html ng-app="DemoApp">
    <head>
        <meta charset="UTF-8">
        <title>angular-carousel demo</title>
        <meta name="viewport" content="width=620, user-scalable=no">
        <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
        <link href='./dist/angular-carousel.css' rel='stylesheet' type='text/css'>
        <link href='./demo/demo.css' rel='stylesheet' type='text/css'>
    </head>
    <body ng-controller="DemoCtrl">
        

        <h3>buffered ngRepeat carousel with custom controls</h3>
        <div class="details">Custom controls demo, just update the rn-carousel-index index binding</div>
        <ul rn-carousel rn-carousel-buffered rn-carousel-indicator rn-carousel-index="slideIndex" rn-carousel-swipe="{{swipe}}" class="my-slider ng-cloak" ng-mouseover="hoverItem(true);" ng-mouseout="hoverItem(false);">
            <li ng-repeat="slide in slides4" ng-style="{'background-image': 'url(' + slide.img + ')'}">
                <div class="debug">
                    {{ slide.label }} / {{ slides4.length }}
                    <br>
                    carouselIndex: {{ carouselIndex }}<br>
                    carouselBufferIndex: {{ carouselBufferIndex }}<br>
                </div>
            </li>
        </ul>
        <div class="controls ng-cloak">
            <button class="button grey" ng-disabled="slideIndex==0" ng-click="prev()">prev</button>
            <span>{{ slideIndex + 1 }} / {{ slides4.length }}</span>
            <button class="button grey" ng-click="next()" ng-disabled="slideIndex==slides4.length-1" >next</button>
            <button class="button grey" ng-click="pushSlide()">add 3 slides</button>
            <button class="button grey" ng-click="toggleSwipe()">toggle swipe ({{ swipe?'on':'off' }})</button>
        </div>

    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular-touch.min.js"></script>
    <script src="./dist/angular-carousel.js"></script>
    <script src="./src/controllers/demo.js"></script>
    <!--<script src="./src/angular-carousel.js"></script>
    <script src="./src/directives/rn-carousel.js"></script>
    <script src="./src/directives/rn-carousel-indicators.js"></script>
    <script src="./src/directives/sliceFilter.js"></script>-->
</html>
